.header {
  display: flex;
  &__logo {
    height: 100%;
    img {
      height: 100%;
    }
  }
  &__language {
    display: flex;
    flex: 1;
    align-items: center;
    justify-content: flex-end;
  }
}

.ant-modal-close-x {
  width: 32px;
  height: 32px;
  line-height: 32px;
}

.ant-carousel .slick-dots-bottom {
  bottom: -12px;
}

.ant-carousel .slick-dots li button {
  background: #c2920e;
}

.modal-pokemon {
  &__title {
    display: flex;
    justify-content: space-between;
    text-transform: uppercase;
    font-weight: bold;
  }
  &__stats {
    display: flex;
    padding: 15px;
    flex-direction: column;
    align-items: center;
    border: 1px solid #c2920e;
  }
  &__content {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  &__icon {
    max-width: 60px;
    margin: auto;
  }
}

.search-bar {
  padding: 15px;
  text-align: center;
}