.trailers {
  &__item {
    padding: 15px;
    height: 400px;
  }
}

.modal-pokemon {
  &__wrapper {
    display: flex;
  }
  &__image {
    max-width: 300px;
  }
}

.pokemon-header {
  display: flex;
  justify-content: space-between;
}